body{
    margin: 0;
    font-size: 25px;
    font-family: Verdana;
}
.header{
    margin: 0;
    height: 70px;
    background-color: rgb(148, 28, 28);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}

.header div{
    margin: 0;
    margin-right: 20px;
}
.header div a{
    padding: 20px;
    text-decoration: none;
    color: white;
}
.intro{
    margin-top: 0;
    height: 400px;
    background-image:linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-h1{
    color: white;
    margin: 0;
    font-size: 70px;
    margin-top: 60px;
}
.intro-h2{
    color: rgb(148, 28, 28);
    font-weight: lighter;
    margin: 0;
}
#projects{
    padding-top: 50px;
    background-color: rgb(63, 63, 119);
    height: 100%;
    padding-bottom: 150px;
}
#projects h2{
    color: white;
    width: max-content;
    padding: 10px;
    border-bottom: 1px solid white;
}
.projects{
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 4rem;
    padding: 92.8px 18.56px;
}
.card{
    background-color: rgb(31, 31, 58);
}
.card img{
    width: 100%;
}
.card p{
    color: white;
    text-align: center;
}
.showAll{
    text-decoration: none;
}
#footer{
    background-color: rgb(31, 31, 58);
    color: white;
    padding: 20px 40px;
}
.footer{
    padding: 60px 0;
    background-color: rgb(31, 31, 58);
    text-align: center;
    color: white;
}
.footer h2{
    font-size: 65px;
}
.footer-icons >span{
    margin: 10px;
}
.footer-icons{
    margin: 20px;
}
.footer{
    border-bottom: 5px solid rgb(148, 28, 28);
}
.end{
    padding: 20px;
    display: flex;
}
.end div{
    margin: 30px;
}