.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profileCard {
  width: 200px;
  height: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: beige;
  border-radius: 5px;
  overflow: hidden;
}
.profileCard:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  cursor: pointer;
}

.cardTop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}
.cardTop div {
  padding-left: 15px;
}
.profileCard img {
  height: 150px;
  width: 200px;
  margin-bottom: 10px;
}

.username {
  margin: 5px 0;
}
.noUserFound {
  background: beige;
  height: 100px;
  width: 300px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
